@using MvcReportViewer;
@{
    ViewBag.Title = "ReportCertificadosLaborales";
}

@{
    var settings = new ControlSettings { EnableHyperlinks = true, AsyncRendering = true, KeepSessionAlive = true, ShowParameterPrompts = false, ShowToolBar = true, SizeToReportContent = false };
}

<div class="row">
    <div class="col-12">
        <div class="panel-body">

            @Html.MvcReportViewer(
                "/PortalEmpleados/CertificacionLaboralDev",
                new { cedula = ViewBag.Cedula, Bds = ViewBag.Bds },
                new { Height = "950px", Width = "100%", style = "border: none; background: white;" }).ControlSettings(settings)
        </div>
    </div>
</div>